    <nav class="navbar navbar-light bg-light headerCss">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']"><img src="/assets/images/stock-exchange.jpg" height="50px" width="50px" /></a>
          </div>
          <ul class="nav navbar-nav">
              <li><a [routerLink]="['/login']">Login</a></li>
              <li><a [routerLink]="['/company-register']">company Register</a></li>
              
          </ul>
        </div>
      </nav>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Company Code" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <app-popup></app-popup>