<div class="alignmentForm" *ngIf="!this.showOtp; else notShowOtp">
    <h4  class="alert alert-primary" role="alert">{{userSignup}} </h4>
<marquee>Please enter all the details and click submit. A mail will be triggered to your mail for check your identity.</marquee>


<form  [formGroup]="registration" (ngSubmit)="onSubmit()" >
    <label>Username<span *ngIf="f.username.errors?.required">*</span></label>
    <input type="text" placeholder="Username" formControlName="username" />

    <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
      <div *ngIf="f.username.errors && f.username.errors.required">Username is required.</div>
  </div>
    
    <label>Password<span *ngIf="f.password.errors?.required">*</span></label>
    <input type="password" placeholder="Password" formControlName="password" />

    <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
      <div *ngIf="f.password.errors && f.password.errors.required">password is required.</div>
      <div *ngIf="f.password.errors && f.password.errors.minlength">Password must be of 8 characters</div>
  </div>

    <label [hidden]="!this.showEmail">Email<span *ngIf="f.email.errors?.required">*</span></label>
    <input [hidden]="!this.showEmail" type="text" placeholder="Email" formControlName="email" />
    
    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
      <div *ngIf="f.email.errors && f.email.errors.required">Email is required.</div>
      <div *ngIf="f.email.errors && f.email.errors.email">Please, enter valid email address.</div>
  </div>
    <button class="btn btn-primary" >{{buttonText}}</button>
    <!-- [disabled]="f.valid"  -->
    <a  class="anchorClass" role="alert" (click)="enableEmail()">{{this.showEmailText}} </a>
</form>
</div>
<ng-template #notShowOtp >
  <div class="alignmentForm">
    <h4  class="alert alert-primary" role="alert">OTP Authentication </h4>
    <marquee>Please Enter Six digit OTP and submit.</marquee>
    <label>One Time Password</label>
    <input placeholder="OTP" [(ngModel)]="otp" />
    <button class="btn btn-primary" (click)="checkMail()">Authenticate</button>
  </div>
    
</ng-template>
<div style="margin-bottom: 10%;"></div>
<ngx-spinner
  bdColor="#ccc"
  size="medium"
  color="#28a745"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: #000">Loading...</p>
</ngx-spinner> 