<div class="alignmentForm" *ngIf="!this.showOtp; else notShowOtp">
    <h4  class="alert alert-primary" role="alert">User Signup </h4>
<marquee>Please enter all the details and click submit. A mail will be triggered to your mail for check your identity.</marquee>
<form  [formGroup]="registration" (ngSubmit)="onSubmit()">
    <label>Username</label>
    <input type="text" placeholder="Username" formControlName="username" />
    <label>Password</label>
    <input type="text" placeholder="Password" formControlName="password" />
    <label [hidden]="!this.showEmail">Email</label>
    <input [hidden]="!this.showEmail" type="text" placeholder="Email" formControlName="email" />
    <button class="btn btn-primary" >Next</button>
    <a  class="anchorClass" role="alert" (click)="enableEmail()">{{this.showEmailText}} </a>
</form>
</div>
<ng-template #notShowOtp>
    <h4  class="alert alert-primary" role="alert">OTP Authentication </h4>
    <marquee>Please Enter Six digit OTP and submit.</marquee>
    <label>One Time Password</label>
    <input placeholder="OTP" [(ngModel)]="otp" />
    <button class="btn btn-primary" (click)="checkMail()">Authenticate</button>
</ng-template>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#004085"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> 