
  <div  *ngIf="this.dataFound">
    <h4  class="alert alert-primary" role="alert">Searching Please Wait a While. </h4>
    <div style="display: block; width: 400px; height: 400px;">
        <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [colors]="chartColors"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
</div>
  
