.customColor{
    background-color: #fff3cd !important;
    color: #856404 !important;
    border-color: #fff3cd !important;
}
.customColornew{
    background-color: #cce5ff !important;
    color: #004085 !important;
    border-color: #cce5ff !important;
}