<div>
  <div class="alignCss" *ngIf="this.filteredData?.length>0">
    <span class="textCss">Company Code:</span>
    <span class="textCss"> {{this.filteredData[0]?.code}}</span>
  </div>
  <div class="alignCss" *ngIf="this.filteredData?.length>0">
    <span class="textCss">Company Name:</span>
    <span class="textCss"> {{this.filteredData[0]?.name}}</span>
  </div>
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Stock Price</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody *ngIf="this.filteredData">
          <tr *ngFor="let stockPrice of this.filteredData[0]?.stockPrice; let i as index">
            <td>{{i}}</td>
            <td>{{stockPrice?.stockPrice}}</td>
            <td>{{stockPrice?.updatedTime}}</td>
            <td>{{stockPrice?.updatedTime}}</td>>
          </tr>
        </tbody>
      </table>
</div>
<ngx-spinner
  bdColor="#ccc"
  size="medium"
  color="#28a745"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: #000">Loading...</p>
</ngx-spinner> 
