.textCss{
    padding: 10px;
    border: 1px solid #28a745 ;
    border-radius: 2px;
    margin-right: 20px;
}
.alignCss{
    padding-left: 20%;
    padding-top: 15px;
    padding-bottom: 20px;
}
.table{
    margin-left: 20% !important;
    margin-right: 20% !important;
    width: 60% !important;
}