<div>
  <div *ngIf="this.filteredData?.length>0">
    <div>Company Code: {{this.filteredData[0]?.code}}</div>
    <div>Company Name: {{this.filteredData[0]?.name}}</div>
  </div>
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{filteredData | json}}</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
<ngx-spinner
  bdColor="#ccc"
  size="medium"
  color="#28a745"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: #000">Loading...</p>
</ngx-spinner> 
